RESEND_API_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
WAITLIST_NOTIFY_EMAIL=
WAITLIST_SIGNING_SECRET=
WAITLIST_REPLY_TO=query@xerg.ai
RESEND_FROM_EMAIL=updates@mailer.xerg.ai
RESEND_FROM_NAME=Xerg
